.container-form{
  max-width: 500px;
  background-color: #262626;
  margin: 80px auto;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.6);
}

.input{
  margin-bottom: 5px;
  width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.inputField-name input{
  width: 95%;
  padding: 1.6px;
  font-size: 14px;

}

.inputField-desc textarea{
  width: 95%;
  padding: 1.6px;
  font-size: 14px;
  font-family: sans-serif;
  height: 50px;
  resize: none;
}


.inputField-desc p{
  color: aliceblue;
  font-size: 1.2rem;
}

.inputField-age input{
  width: 60%;
  padding: 1.6px;
  font-size: 14px;

}

.inputField-age p{
  color: aliceblue;
  font-size: 1.2rem;

}

.inputField-name p{
  color: aliceblue;
  font-size: 1.2rem;
}

.inputField input{
  width: 95%;
  padding: 1.6px;
  font-size: 14px;
}

.inputField p {
  color: aliceblue;
  font-size: 1.2rem;
}

.container{
  display: flex;
  justify-content: center
}

.button button{
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  width: 25%;
  padding: 2px;
  margin-bottom: 3px;
}

.social{
  display: flex;
  justify-content: center;
}

.texto{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  color: aliceblue;
}
